<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="owl\tarikowl.Nayt story.dbo" connectionString="XpoProvider=MSSqlServer;data source=OWL\TARIKOWL;integrated security=SSPI;initial catalog=&quot;Nayt story&quot;" />
        <add name="ProjeodeviNW.Properties.Settings.Nayt_storyConnectionString"
            connectionString="Data Source=OWL\TARIKOWL;Initial Catalog=&quot;Nayt story&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>